In [10]:
import great_expectations as gx
import pandas as pd

In [11]:
context = gx.get_context()

In [12]:
df = pd.read_csv("/Users/Hp 14s/Desktop/DF12/TUGAS_WEEK1/data2.csv")

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 594643 entries, 0 to 594642
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Source     594643 non-null  object
 1   Target     594643 non-null  object
 2   Weight     594643 non-null  float64
 3   typeTrans  594643 non-null  object
 4   fraud      594643 non-null  int64
dtypes: float64(1), int64(1), object(3)
memory usage: 22.7+ MB

In [5]:
df.head()

          Source         Target  Weight            typeTrans  fraud
0  'C1093826151'   'M348934600'    4.55  'es_transportation'      0
1   'C352968107'   'M348934600'   39.68  'es_transportation'      0
2  'C2054744914'  'M1823072687'   26.89  'es_transportation'      0
3  'C1760612790'   'M348934600'   17.25  'es_transportation'      0
4   'C757503768'   'M348934600'   35.72  'es_transportation'      0

In [6]:
print(df.count)

<bound method DataFrame.count of                Source         Target  Weight            typeTrans  fraud
0       'C1093826151'   'M348934600'    4.55  'es_transportation'      0
1        'C352968107'   'M348934600'   39.68  'es_transportation'      0
2       'C2054744914'  'M1823072687'   26.89  'es_transportation'      0
3       'C1760612790'   'M348934600'   17.25  'es_transportation'      0
4        'C757503768'   'M348934600'   35.72  'es_transportation'      0
...               ...            ...     ...                  ...    ...
594638  'C1753498738'  'M1823072687'   20.53  'es_transportation'      0
594639   'C650108285'  'M1823072687'   50.73  'es_transportation'      0
594640   'C123623130'   'M349281107'   22.44         'es_fashion'      0
594641  'C1499363341'  'M1823072687'   14.46  'es_transportation'      0
594642   'C616528518'  'M1823072687'   26.93  'es_transportation'      0

[594643 rows x 5 columns]>

In [66]:
df.describe()

              Weight          fraud
count  594643.000000  594643.000000
mean       37.890135       0.012108
std       111.402831       0.109369
min         0.000000       0.000000
25%        13.740000       0.000000
50%        26.900000       0.000000
75%        42.540000       0.000000
max      8329.960000       1.000000

In [14]:
import pandas as pd
import psycopg2

CONNECT_DB = "host=localhost port=5432 dbname=cloud_user user=cloud_user password=cloud_user"

In [15]:
create_table_query = '''CREATE TABLE week_data (
    Source VARCHAR(255),
    Target VARCHAR(255),
    Weight FLOAT,
    typeTrans VARCHAR(255),
    fraud FLOAT
); '''

try:
    # Make connection to db
    cxn = psycopg2.connect(CONNECT_DB)

    # Create a cursor to db
    cur = cxn.cursor()
    
    # Send sql query to request
    cur.execute(create_table_query)
    records = cxn.commit()

except (Exception, psycopg2.Error) as error :
    print ("Error while connecting to PostgreSQL", error)
    
finally:
    #closing database connection.
    if(cxn):
        cur.close()
        cxn.close()
        print("PostgreSQL connection is closed")

print(f'Records:\n {records}')

PostgreSQL connection is closed
Records:
 None

In [16]:
try:
    # Make connection to db
    cxn = psycopg2.connect(CONNECT_DB)
    
    # Create a cursor to db
    cur = cxn.cursor()
    
    with open('./data2.csv', 'r') as f:
        # skip first row, header row
        next(f)
        cur.copy_from(f, 'week_data', sep=",")
        cxn.commit()

except (Exception, psycopg2.Error) as error :
    print ("Error while connecting to PostgreSQL", error)
    
finally:
    #closing database connection.
    if(cxn):
        cur.close()
        cxn.close()
        print("PostgreSQL connection is closed")
        print("week_data table populated")

PostgreSQL connection is closed
week_data table populated

In [17]:
def db_server_fetch(sql_query):
    try:
        # Make connection to db
        cxn = psycopg2.connect(CONNECT_DB)

        # Create a cursor to db
        cur = cxn.cursor()

        # Send sql query to request
        cur.execute(sql_query)
        records = cur.fetchall()

    except (Exception, psycopg2.Error) as error :
        print ("Error while connecting to PostgreSQL", error)

    finally:
        #closing database connection.
        if(cxn):
            cur.close()
            cxn.close()
            print("PostgreSQL connection is closed")
        return records

In [18]:
select_query = '''SELECT * FROM week_data LIMIT 5;'''

records = db_server_fetch(select_query)
print(records)

PostgreSQL connection is closed
[("'C1093826151'", "'M348934600'", 4.55, "'es_transportation'", 0.0), ("'C352968107'", "'M348934600'", 39.68, "'es_transportation'", 0.0), ("'C2054744914'", "'M1823072687'", 26.89, "'es_transportation'", 0.0), ("'C1760612790'", "'M348934600'", 17.25, "'es_transportation'", 0.0), ("'C757503768'", "'M348934600'", 35.72, "'es_transportation'", 0.0)]

In [19]:
records

[("'C1093826151'", "'M348934600'", 4.55, "'es_transportation'", 0.0),
 ("'C352968107'", "'M348934600'", 39.68, "'es_transportation'", 0.0),
 ("'C2054744914'", "'M1823072687'", 26.89, "'es_transportation'", 0.0),
 ("'C1760612790'", "'M348934600'", 17.25, "'es_transportation'", 0.0),
 ("'C757503768'", "'M348934600'", 35.72, "'es_transportation'", 0.0)]

In [20]:
def db_server_change(sql_query):
    try:
        # Make connection to db
        cxn = psycopg2.connect(CONNECT_DB)

        # Create a cursor to db
        cur = cxn.cursor()

        # Send sql query to request
        cur.execute(sql_query)
        records = conn.commit()

    except (Exception, psycopg2.Error) as error :
        print ("Error while connecting to PostgreSQL", error)

    finally:
        #closing database connection.
        if(cxn):
            cur.close()
            cxn.close()
            print("PostgreSQL connection is closed")
        return records

In [21]:
df = pd.DataFrame(records, columns=["Source", "Target", "Wigth", "typeTrans", "Fraud"])

# Print the DataFrame
df

          Source         Target  Wigth            typeTrans  Fraud
0  'C1093826151'   'M348934600'   4.55  'es_transportation'    0.0
1   'C352968107'   'M348934600'  39.68  'es_transportation'    0.0
2  'C2054744914'  'M1823072687'  26.89  'es_transportation'    0.0
3  'C1760612790'   'M348934600'  17.25  'es_transportation'    0.0
4   'C757503768'   'M348934600'  35.72  'es_transportation'    0.0

In [22]:
def pandas_db_server_fetch(sql_query):
    try:
        # Make connection to db
        cxn = psycopg2.connect(CONNECT_DB)

        # Send sql query to request and create dataframe
        df = pd.read_sql(sql_query, cxn)

    except (Exception, psycopg2.Error) as error :
        print ("Error while connecting to PostgreSQL", error)

    finally:
        #closing database connection.
        if(cxn):
            cxn.close()
            print("PostgreSQL connection is closed")
        return df

In [23]:
select_query = '''SELECT * FROM week_data WHERE typetrans ='typetrans';'''

typetrans_df = pandas_db_server_fetch(select_query)
typetrans_df.head()

PostgreSQL connection is closed

Empty DataFrame
Columns: [source, target, weight, typetrans, fraud]
Index: []

In [24]:
week_data_df = pandas_db_server_fetch('''SELECT * FROM week_data;''')

PostgreSQL connection is closed

In [25]:
week_data_df.head()

          source         target  weight            typetrans  fraud
0  'C1093826151'   'M348934600'    4.55  'es_transportation'    0.0
1   'C352968107'   'M348934600'   39.68  'es_transportation'    0.0
2  'C2054744914'  'M1823072687'   26.89  'es_transportation'    0.0
3  'C1760612790'   'M348934600'   17.25  'es_transportation'    0.0
4   'C757503768'   'M348934600'   35.72  'es_transportation'    0.0